
html{
    font-size: 11px;
}

table {
    width: 100%;
    table-layout:fixed;
    word-break: break-all;
}

.div{
    max-width: 100%;
    text-align: center;
}

#profilepicturediv {
    text-align: center;
}

img { 
    max-width: 25%; 
    height: auto; 
}

#profileimagediv{
    height: 100px;
    width: 100px;
}

#contextinfo {
    display: none
}

#profileinfo {
    display: none
}

.buttongroup{
    text-align: center;
	margin-bottom:15px;
	padding-bottom: 15px;
}

button {
    margin: 4px;
}




html,
body {
    height: 100%;
}
body {
    background: #e6e6e6;
    font-family: 'Kanit', sans-serif;
}
.topiccontainer {
    width: 100%;
  //  height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.topic {
    display: inline-block;
    vertical-align: top;

    text-align: left;
    padding: 5px;
    //padding-top:15px;
    //padding-bottom:5px;
    width: 100%;
    max-width: 700px;
//    width: 600px;
    height: 30px;
    margin: 0px;
	margin-left:5px;
    //margin-top:10px;
    //margin-bottom:10px;
}
.container {
    width: 100%;
  //  height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
h1 {
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
    margin-top: 0;
}
.control-group {
    display: inline-block;
    vertical-align: top;
    background: #fff;
    text-align: left;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    padding: 30px;
    padding-top:15px;
    padding-bottom:5px;
    border-radius: 10px;
    width: 80%;
//    max-width: 300px;
    width: 600px;
//    height: 210px;
    margin: 10px;
    margin-top:10px;
    margin-bottom:10px;
}
.button2{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	//color: #757575;
	font-size: 14;
	font-family: 'Kanit', sans-serif;
	padding: 10px;
	padding-left: 25px;
	padding-right: 25px;
	background-color: #FFFFFF;
	border: solid #B5B5B5 1px;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}
.control {
    display: inline-block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 15px;
	margin-right: 10px;
    cursor: pointer;
    font-size: 14px;
	min-width: 30px;
}
.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.control__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 16px;
    width: 16px;
    background: #e6e6e6;
	border-radius: 4px;
}
.control--radio .control__indicator {
    border-radius: 50%;
}
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
    background: #ccc;
}
.control input:checked ~ .control__indicator {
    background: #66b3fb;
}
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
    background: #4b9dea;
}
.control input:disabled ~ .control__indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}
.control__indicator:after {
    content: '';
    position: absolute;
    display: none;
}
.control input:checked ~ .control__indicator:after {
    display: block;
}
.control--checkbox .control__indicator:after {
    left: 5px;
    top: 2px;
    width: 3px;
    height: 8px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
	
}
.control--checkbox input:disabled ~ .control__indicator:after {
    border-color: #7b7b7b;
}
.control--radio .control__indicator:after {
    left: 5px;
    top: 5px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: #fff;
}
.control--radio input:disabled ~ .control__indicator:after {
    background: #7b7b7b;
}
.select {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    width: 100%;
}
.select select {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 10px 15px;
    outline: 0;
    border: 0;
    border-radius: 4px;
    background: #e6e6e6;
    color: #7b7b7b;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.select select::-ms-expand {
    display: none;
}
.select select:hover,
.select select:focus {
    color: #000;
    background: #ccc;
}
.select select:disabled {
    opacity: 0.5;
    pointer-events: none;
}
.select__arrow {
    position: absolute;
    top: 16px;
    right: 15px;
    width: 0;
    height: 0;
    pointer-events: none;
    border-style: solid;
    border-width: 8px 5px 0 5px;
    border-color: #7b7b7b transparent transparent transparent;
}
.select select:hover ~ .select__arrow,
.select select:focus ~ .select__arrow {
    border-top-color: #000;
}
.select select:disabled ~ .select__arrow {
    border-top-color: #ccc;
}
.month-checkbox {
	margin-left: 5%;
	max-width:450px;

	
}








